<header>
  <mat-toolbar style="background-color: #D66701;">
    <img style="width: 35px; padding: 5px;" src="https://www.itau.com.br/assets/images/header/logo-itau-varejo-desktop.png" alt="">
    <span>Clallenge Itaú</span>
  </mat-toolbar>
</header>

<form>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="text" matInput name="password" [(ngModel)]="password">
  </mat-form-field>

  <button mat-button  [class.spinner]="loading" [disabled]="loading" (click)="checkPassword()">Validar Senha</button>
</form>


