* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    height: 120px;
    align-items: center;
    padding: 20px;
}

button {
    color: white;
    background-color: #D66701;
    padding: 4px; border: none;
    margin-bottom: 16px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}